/* :root {

}
*/



@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: "opensans", sans-serif;
  font-size: 16px;
}

/* Card */
@layer components {
  .card {
    @apply overflow-hidden  rounded-lg py-8 shadow-lg;
  }

  .card.card__project {
    @apply px-14 flex-wrap flex flex-col;
  }

  .card__project__content-container{
    @apply mb-16
  }

  .card__project__content {
    @apply flex flex-col  xl:flex-row xl:gap-8 px-0 xl:px-3 xl:mb-14;
  }

  .card__project__info {
    @apply xl:flex-1 xl:px-0 xl:pt-6;
  }
  .card__project__info h3 {
    @apply mb-3 font-raleway text-4xl font-bold;
  }

  .card__project__skills-container {
    @apply flex flex-row gap-2 mb-6;
  }
  .card__project__skills-container img {
    @apply w-6;
  }

  .card__project__media {
    @apply mb-6 xl:flex-1;
  }

  .card__project__more {
    @apply inline-block w-full text-right mb-8;
  }

  .card__project__links {
    @apply flex justify-center gap-10;
  }
  .card__project__links__button {
    @apply btn  text-center min-w-[92px] sm:py-2 whitespace-nowrap xs:flex-none  hover:bg-orange-300 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
}

/* Buttons */
@layer components {
  .btn {
    @apply inline-block py-2 px-2 sm:px-5 text-sm sm:text-lg sm:py-4 rounded-sm shadow-lg bg-orange-400 text-white;
  }
}

/* Section */
@layer components {
  .section {
    @apply py-20 px-5;
  }
  .section__title {
    @apply mb-10 relative;
  }

  .section__title h2 {
    @apply text-5xl font-bold font-raleway;
  }

  .section__title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background: #fb923b;
    bottom: 0;
  }
}


/* Header */
@layer components {
  .header__content__container {
    @apply md:pl-20  lg:pl-24 mr-[0px] sm:mr-[100px] md:mr-[150px] lg:mr-[200px] xl:mr-[250px];
  }

  .header__content__container--text {
    @apply text-white text-left text-2xl  sm:text-5xl xl:text-6xl  2xl:text-7xl font-bold px-14;
  }

  .header__content__container__h1 {
    @apply mb-10 tracking-wide leading-normal md:leading-tight;
  }
}

/* Skills Section */

@layer components {
  .skills {
    @apply w-full flex flex-wrap justify-evenly sm:justify-around  gap-10 sm:gap-16 lg:gap-20;
  }

  .skill-container {
    @apply flex flex-col justify-between items-center;
  }
  .skill-container__icon-container {
    @apply w-20  mb-0;
  }

  .skill-containter__title {
    @apply whitespace-nowrap font-semibold;
  }
}

/* Contact Section */

@layer components {
  .contact {}

  .contact-item-icon::before {
    @apply float-left  w-10 mt-2 mr-8;
  }
  .contact h4 {
    @apply font-raleway font-semibold text-2xl;
  }
  .contact p {
    @apply font-openSans text-sm;
  }
}
